In [1]:
import pandas as pd
import numpy as np
import re
import torch
import torch.nn as nn
torch.manual_seed(42)
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
import torch.nn.functional as F
import nltk

In [2]:
data = pd.read_csv("D:/Datasets/nlp-getting-started/train.csv")
data

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [3]:
# remove the url links of the tweets
g = re.compile(r"https?://[\w.]*/?\w*\s*")  # the regular expression used to remove the urls from the tweet data.
data['text'] = data['text'].apply(lambda y: re.subn(g, '', string = y)[0])
# take the hashtags of the tweet and add them to a seperate column
def get_hashtags(x):
    g = re.compile(r"#[A-Za-z]*\s*")
    hash_tag_list = re.findall(g,string = x)
    for i,tag in enumerate(hash_tag_list):
        hash_tag_list[i] =  tag[1:].strip()
    return hash_tag_list
def get_mentions(x):
    mention_list = re.findall(re.compile('@[a-zA-Z0-9_]*\s*'),string = x)
    if len(mention_list) >=1:
        return mention_list
    else:
        return np.NaN
    
data['hashtag'] = data['text'].apply(lambda x : get_hashtags(x))
data['mentions'] = data['text'].apply(lambda x : get_mentions(x))
data

,id,keyword,location,text,target,hashtag,mentions
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,[earthquake],NaN
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,[],NaN
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,[],NaN
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,[wildfires],NaN
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[Alaska, wildfires]",NaN
...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,[],NaN
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,[],"[@aria_ahrary , @TheTawniest ]"
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,1,[],NaN
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,[],NaN
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,[],NaN

In [4]:
from nltk.tokenize import TweetTokenizer
tokenizer = TweetTokenizer(reduce_len=True, preserve_case=False, strip_handles= True)
# Now lets tokenize each tweet and put it in the
def  tokenize(x, tokenizer):
    tokens = tokenizer.tokenize(x)
    return tokens

data['tokens']= data['text'].apply(lambda x : tokenize(x,tokenizer))
data

,id,keyword,location,text,target,hashtag,mentions,tokens
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,[earthquake],NaN,"[our, deeds, are, the, reason, of, this, #eart..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,[],NaN,"[forest, fire, near, la, ronge, sask, ., canada]"
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,[],NaN,"[all, residents, asked, to, ', shelter, in, pl..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,[wildfires],NaN,"[13,000, people, receive, #wildfires, evacuati..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[Alaska, wildfires]",NaN,"[just, got, sent, this, photo, from, ruby, #al..."
...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,[],NaN,"[two, giant, cranes, holding, a, bridge, colla..."
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,[],"[@aria_ahrary , @TheTawniest ]","[the, out, of, control, wild, fires, in, calif..."
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,1,[],NaN,"[m1, ., 94, [, 01:04, utc, ], ?, 5km, s, of, v..."
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,[],NaN,"[police, investigating, after, an, e-bike, col..."
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,[],NaN,"[the, latest, :, more, homes, razed, by, north..."

In [5]:
print(data['tokens'][:50])

0     [our, deeds, are, the, reason, of, this, #eart...
1      [forest, fire, near, la, ronge, sask, ., canada]
2     [all, residents, asked, to, ', shelter, in, pl...
3     [13,000, people, receive, #wildfires, evacuati...
4     [just, got, sent, this, photo, from, ruby, #al...
5     [#rockyfire, update, =, >, california, hwy, .,...
6     [#flood, #disaster, heavy, rain, causes, flash...
7     [i'm, on, top, of, the, hill, and, i, can, see...
8     [there's, an, emergency, evacuation, happening...
9     [i'm, afraid, that, the, tornado, is, coming, ...
10    [three, people, died, from, the, heat, wave, s...
11    [haha, south, tampa, is, getting, flooded, hah...
12    [#raining, #flooding, #florida, #tampabay, #ta...
13      [#flood, in, bago, myanmar, #we, arrived, bago]
14    [damage, to, school, bus, on, 80, in, multi, c...
15                                 [what's, up, man, ?]
16                                    [i, love, fruits]
17                                 [summer, is, lovely]
18                              [my, car, is, so, fast]
19                         [what, a, goooaaal, !, !, !]
20                          [this, is, ridiculous, ...]
21                               [london, is, cool, ;)]
22                                       [love, skiing]
23                         [what, a, wonderful, day, !]
24                                              [loool]
25            [no, way, ..., i, can't, eat, that, shit]
26                        [was, in, nyc, last, week, !]
27                               [love, my, girlfriend]
28                                          [coool, :)]
29                            [do, you, like, pasta, ?]
30                                        [the, end, !]
31                         [wholesale, markets, ablaze]
32    [we, always, try, to, bring, the, heavy, ., #m...
33    [#africanbaze, :, breaking, news, :, nigeria, ...
34         [crying, out, for, more, !, set, me, ablaze]
35    [on, plus, side, look, at, the, sky, last, nig...
36    [#mufc, they've, built, so, much, hype, around...
37             [inec, office, in, abia, set, ablaze, -]
38    [barbados, #bridgetown, jamaica, Â‰, Ã»Ã², two, c...
39                         [ablaze, for, you, lord, :D]
40                        [check, these, out, :, #nsfw]
41    [on, the, outside, you're, ablaze, and, alive,...
42    [had, an, awesome, time, visiting, the, cfc, h...
43                 [sooo, pumped, for, ablaze, ?, ?, ?]
44    [i, wanted, to, set, chicago, ablaze, with, my...
45    [i, gained, 3, followers, in, the, last, week,...
46    [how, the, west, was, burned, :, thousands, of...
47    [building, the, perfect, tracklist, to, life, ...
48                        [check, these, out, :, #nsfw]
49    [first, night, with, retainers, in, ., it's, q...
Name: tokens, dtype: object

In [6]:
from nltk.corpus import stopwords
stopwords = set(stopwords.words('English'))
print(stopwords)

{'they', 'off', 'and', 'theirs', 'have', 'its', 'wasn', "weren't", 'him', 'between', 'some', 'now', 'into', 'this', 'doesn', 'during', "mightn't", 'you', 'them', 'each', 'do', 'once', 'am', 'after', 'myself', 'where', 'again', 'at', 'y', 's', "wouldn't", 'if', 'when', "wasn't", "hadn't", 't', 'ours', 'being', 'don', 'shouldn', 'he', 'about', 'before', 'through', 'until', 'that', 'above', 'me', "that'll", 'i', 've', 'same', 'out', 'because', 'our', 'than', 'to', 'a', 'needn', 'over', 'himself', "mustn't", 'itself', 'under', 'any', 'ma', 'here', 'not', 'hasn', 'didn', 'then', "doesn't", 'how', 'she', 'm', 'themselves', 'against', "hasn't", 'does', 'other', 'were', "needn't", "you're", 'but', 'by', 'in', "she's", "couldn't", 'won', 'be', 'having', 'should', 'my', 'those', 'all', 'or', 'own', 'too', "don't", 'for', 're', 'aren', 'shan', 'his', 'had', 'most', 'mustn', 'ain', 'there', 'we', 'will', 'these', 'did', 'll', "shan't", 'doing', "shouldn't", 'such', 'hers', 'was', 'yourselves', "you'll", "it's", 'are', 'just', 'hadn', "isn't", "won't", 'their', 'with', "aren't", 'few', 'haven', 'the', 'isn', 'it', "you've", 'of', 'more', "haven't", 'nor', 'so', 'yours', 'your', 'her', 'whom', 'while', 'been', 'up', 'only', 'wouldn', 'herself', 'down', 'is', 'mightn', 'both', 'below', 'as', 'an', 'ourselves', 'no', 'o', "didn't", 'on', 'why', "should've", 'further', 'what', 'yourself', 'd', 'which', 'has', 'very', 'couldn', 'can', 'from', "you'd", 'weren', 'who'}

In [7]:
def remove_stopwords(x, stopwords_set):
    for i,word in enumerate(x):
        if word in stopwords_set:
            del x[i]
    return x

data['tokens'] =  data['tokens'].apply(lambda x : remove_stopwords(x,stopwords))
data

,id,keyword,location,text,target,hashtag,mentions,tokens
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,[earthquake],NaN,"[deeds, the, reason, this, #earthquake, may, a..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,[],NaN,"[forest, fire, near, la, ronge, sask, ., canada]"
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,[],NaN,"[residents, asked, ', shelter, place, ', being..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,[wildfires],NaN,"[13,000, people, receive, #wildfires, evacuati..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[Alaska, wildfires]",NaN,"[got, sent, photo, ruby, #alaska, smoke, #wild..."
...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,[],NaN,"[two, giant, cranes, holding, bridge, collapse..."
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,[],"[@aria_ahrary , @TheTawniest ]","[out, control, wild, fires, california, even, ..."
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,1,[],NaN,"[m1, ., 94, [, 01:04, utc, ], ?, 5km, of, volc..."
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,[],NaN,"[police, investigating, an, e-bike, collided, ..."
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,[],NaN,"[latest, :, homes, razed, northern, california..."

In [8]:
print(data['tokens'][:50])

0     [deeds, the, reason, this, #earthquake, may, a...
1      [forest, fire, near, la, ronge, sask, ., canada]
2     [residents, asked, ', shelter, place, ', being...
3     [13,000, people, receive, #wildfires, evacuati...
4     [got, sent, photo, ruby, #alaska, smoke, #wild...
5     [#rockyfire, update, =, >, california, hwy, .,...
6     [#flood, #disaster, heavy, rain, causes, flash...
7     [i'm, top, the, hill, i, see, fire, the, woods...
8     [there's, emergency, evacuation, happening, in...
9     [i'm, afraid, the, tornado, coming, our, area,...
10          [three, people, died, the, heat, wave, far]
11    [haha, south, tampa, getting, flooded, hah, -,...
12    [#raining, #flooding, #florida, #tampabay, #ta...
13          [#flood, bago, myanmar, #we, arrived, bago]
14    [damage, school, bus, 80, multi, car, crash, #...
15                                     [what's, man, ?]
16                                       [love, fruits]
17                                     [summer, lovely]
18                                      [car, so, fast]
19                               [a, goooaaal, !, !, !]
20                                [is, ridiculous, ...]
21                                   [london, cool, ;)]
22                                       [love, skiing]
23                               [a, wonderful, day, !]
24                                              [loool]
25                         [way, ..., can't, eat, shit]
26                             [in, nyc, last, week, !]
27                                   [love, girlfriend]
28                                          [coool, :)]
29                                [you, like, pasta, ?]
30                                             [end, !]
31                         [wholesale, markets, ablaze]
32          [always, try, bring, heavy, ., #metal, #rt]
33    [#africanbaze, :, breaking, news, :, nigeria, ...
34                        [crying, for, !, set, ablaze]
35    [plus, side, look, the, sky, last, night, was,...
36    [#mufc, they've, built, much, hype, around, ne...
37                 [inec, office, abia, set, ablaze, -]
38    [barbados, #bridgetown, jamaica, Â‰, Ã»Ã², two, c...
39                              [ablaze, you, lord, :D]
40                               [check, out, :, #nsfw]
41    [the, outside, ablaze, alive, you're, dead, in...
42    [an, awesome, time, visiting, cfc, head, offic...
43                      [sooo, pumped, ablaze, ?, ?, ?]
44    [wanted, set, chicago, ablaze, my, preaching, ...
45    [gained, 3, followers, the, last, week, ., ?, ...
46    [the, west, burned, :, thousands, wildfires, a...
47    [building, perfect, tracklist, life, leave, st...
48                               [check, out, :, #nsfw]
49    [first, night, retainers, ., quite, weird, ., ...
Name: tokens, dtype: object

In [9]:
word_dict = {}
for entry in data['tokens']:
    for i,word in enumerate(entry):
        if word in word_dict:
            word_dict[word] += 1
        else:
            word_dict[word] = 1
print(len(word_dict))

16264

In [10]:
wordtoidx = {}
idxtoword = {}
for i, word in enumerate(word_dict.keys()):
    wordtoidx[word] =i
    idxtoword[i] = word

In [11]:
data['tokens']

0       [deeds, the, reason, this, #earthquake, may, a...
1        [forest, fire, near, la, ronge, sask, ., canada]
2       [residents, asked, ', shelter, place, ', being...
3       [13,000, people, receive, #wildfires, evacuati...
4       [got, sent, photo, ruby, #alaska, smoke, #wild...
                              ...
7608    [two, giant, cranes, holding, bridge, collapse...
7609    [out, control, wild, fires, california, even, ...
7610    [m1, ., 94, [, 01:04, utc, ], ?, 5km, of, volc...
7611    [police, investigating, an, e-bike, collided, ...
7612    [latest, :, homes, razed, northern, california...
Name: tokens, Length: 7613, dtype: object

In [12]:
data['tokens'].values

array([list(['deeds', 'the', 'reason', 'this', '#earthquake', 'may', 'allah', 'forgive', 'us']),
       list(['forest', 'fire', 'near', 'la', 'ronge', 'sask', '.', 'canada']),
       list(['residents', 'asked', "'", 'shelter', 'place', "'", 'being', 'notified', 'officers', '.', 'other', 'evacuation', 'shelter', 'place', 'orders', 'expected']),
       ...,
       list(['m1', '.', '94', '[', '01:04', 'utc', ']', '?', '5km', 'of', 'volcano', 'hawaii', '.']),
       list(['police', 'investigating', 'an', 'e-bike', 'collided', 'a', 'car', 'little', 'portugal', '.', 'e-bike', 'rider', 'suffered', 'serious', 'non-life', 'threatening', 'injuries', '.']),
       list(['latest', ':', 'homes', 'razed', 'northern', 'california', 'wildfire', '-', 'abc', 'news'])],
      dtype=object)

In [13]:
data['tokens']

0       [deeds, the, reason, this, #earthquake, may, a...
1        [forest, fire, near, la, ronge, sask, ., canada]
2       [residents, asked, ', shelter, place, ', being...
3       [13,000, people, receive, #wildfires, evacuati...
4       [got, sent, photo, ruby, #alaska, smoke, #wild...
                              ...
7608    [two, giant, cranes, holding, bridge, collapse...
7609    [out, control, wild, fires, california, even, ...
7610    [m1, ., 94, [, 01:04, utc, ], ?, 5km, of, volc...
7611    [police, investigating, an, e-bike, collided, ...
7612    [latest, :, homes, razed, northern, california...
Name: tokens, Length: 7613, dtype: object

In [14]:
# Now lets create the dataset of the words with the integers 
X_data = []
for entry in data['tokens']:
    new_entry = entry
    for i in  range(len(new_entry)):
        # print(new_entry[i])
        new_entry[i] = wordtoidx[new_entry[i]]
        # print(new_entry[i])
    X_data.append(np.array(new_entry, dtype = np.int64))
    # print(new_entry)

X_data

[array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int64),
 array([ 9, 10, 11, 12, 13, 14, 15, 16], dtype=int64),
 array([17, 18, 19, 20, 21, 19, 22, 23, 24, 15, 25, 26, 20, 21, 27, 28],
       dtype=int64),
 array([29, 30, 31, 32, 26, 27, 33], dtype=int64),
 array([34, 35, 36, 37, 38, 39, 32, 40, 41, 42], dtype=int64),
 array([43, 44, 45, 46, 33, 47, 15, 48, 49, 50, 51, 52, 53, 54, 10, 55, 56,
        32], dtype=int64),
 array([57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69], dtype=int64),
 array([70, 71,  1, 72, 73, 74, 10,  1, 75, 76], dtype=int64),
 array([77, 78, 26, 79, 80, 81, 82, 83], dtype=int64),
 array([70, 84,  1, 85, 86, 87, 88, 76], dtype=int64),
 array([89, 30, 90,  1, 91, 92, 93], dtype=int64),
 array([ 94,  95,  96,  97,  98,  99,  55, 100, 101, 102,  95,  96, 103,
        104, 105,  73, 104, 106, 107], dtype=int64),
 array([108, 107, 109, 110, 111, 112, 113, 114,  15, 115, 116, 117],
       dtype=int64),
 array([ 57, 118, 119, 120, 121, 118], dtype=int64),
 array([122,  42, 123, 124, 125, 126, 127, 128], dtype=int64),
 array([129, 130, 131], dtype=int64),
 array([132, 133], dtype=int64),
 array([134, 135], dtype=int64),
 array([126, 136, 137], dtype=int64),
 array([ 41, 138, 139, 139, 139], dtype=int64),
 array([140, 141,  76], dtype=int64),
 array([142, 143, 144], dtype=int64),
 array([132, 145], dtype=int64),
 array([ 41, 146, 147, 139], dtype=int64),
 array([148], dtype=int64),
 array([149,  76, 150, 151, 152], dtype=int64),
 array([ 80, 153, 154, 155, 139], dtype=int64),
 array([132, 156], dtype=int64),
 array([157, 158], dtype=int64),
 array([159, 160, 161, 131], dtype=int64),
 array([162, 139], dtype=int64),
 array([163, 164, 165], dtype=int64),
 array([166, 167, 168,  59,  15, 169, 170], dtype=int64),
 array([171, 172, 173, 174, 172, 175, 176, 177, 165, 178,  15], dtype=int64),
 array([179, 180, 139, 177, 165], dtype=int64),
 array([181, 182, 183,   1, 184, 154, 185, 186, 165], dtype=int64),
 array([187, 188, 189, 190, 191, 192, 193, 194,  73, 195, 196, 177, 197,
        165, 198,  15], dtype=int64),
 array([199, 200, 201, 177, 165,  55], dtype=int64),
 array([202, 203, 204, 205, 206, 207, 208, 177, 165, 172, 209, 210, 205,
        211, 212,   1, 213, 214, 215, 216,  76], dtype=int64),
 array([165, 159, 217, 218], dtype=int64),
 array([219, 220, 172, 221], dtype=int64),
 array([  1, 222, 165, 223, 224, 225, 226], dtype=int64),
 array([227, 228, 229, 230, 231, 212, 200, 232, 233, 165,  15, 234, 235,
        236, 237, 238,   8, 131, 131], dtype=int64),
 array([239, 240, 165, 131, 131, 131], dtype=int64),
 array([241, 177, 242, 165, 243, 244,  76, 245, 246, 139], dtype=int64),
 array([247, 248, 249,   1, 154, 155,  15, 131, 250, 251, 252], dtype=int64),
 array([  1, 253, 254, 172, 255, 256, 165,  33, 257], dtype=int64),
 array([ 81, 258, 259, 260, 261,  64, 165], dtype=int64),
 array([219, 220, 172, 221], dtype=int64),
 array([262, 185, 263,  15, 264, 265,  15, 266, 267, 268, 269, 270, 271,
        272, 273, 274, 185,   1, 275, 276, 277,  15], dtype=int64),
 array([278, 172, 130, 279, 280, 281, 177, 165], dtype=int64),
 array([130, 282, 267, 283, 284, 285, 286, 165, 287], dtype=int64),
 array([209, 210, 205, 211, 212,   1, 213, 214, 215, 288, 289, 290, 291,
         76,  55], dtype=int64),
 array([215, 172, 292, 293, 177, 294, 295, 296, 297], dtype=int64),
 array([298, 299,  19, 172, 300,  74, 301, 302, 303, 131, 131, 304, 305,
         15, 131, 131, 131,  19], dtype=int64),
 array([306, 307, 308, 176, 309, 177, 165, 310, 311, 312, 308, 313, 314],
       dtype=int64),
 array([315, 165, 172, 316,  15, 317, 318,  15, 222, 319, 320,  15, 321,
        322,  15], dtype=int64),
 array([177, 323, 165, 273, 324,  41, 325, 273, 326, 160, 327, 328, 329,
        330, 205, 331], dtype=int64),
 array([184, 165, 332, 333, 334,  15,  70, 335, 336, 337, 338, 339, 340,
        341,  73, 250, 342, 139, 139], dtype=int64),
 array([  1, 253, 254, 172, 255, 256, 165, 343, 257, 344, 345], dtype=int64),
 array([346, 347, 348, 349, 350, 351, 352, 165, 348, 353, 354, 355, 172,
        356], dtype=int64),
 array([357, 358, 139, 359, 360, 361, 362, 177, 363, 165,   1, 364, 365,
         19,  76], dtype=int64),
 array([366, 165, 367, 368,  55, 369, 370, 371, 372, 373, 374, 375,  55,
        376, 377, 378], dtype=int64),
 array([379, 380, 381, 382, 383, 139,  33,  41, 384,  55,   3, 385, 286,
         19, 386, 165], dtype=int64),
 array([387, 172, 366, 165, 367, 388, 389,  55, 390, 391], dtype=int64),
 array([392,  10, 163, 164, 165], dtype=int64),
 array([229, 393, 394, 395, 131, 396, 250,  73, 397,  52, 398,  15],
       dtype=int64),
 array([ 19, 150, 399, 400,  34,  41, 401, 402, 367, 403, 404,  15, 405,
        406, 271, 399,  19, 407, 408, 409], dtype=int64),
 array([402,  73,  55, 410, 411, 412,  15, 413, 414, 415, 416, 417,  15],
       dtype=int64),
 array([402, 418, 419, 420, 421,   8,  55, 422, 423, 424, 425, 426, 427,
        428], dtype=int64),
 array([ 41, 429, 402, 134, 131, 430, 431, 367,  74,  41, 432, 433, 434],
       dtype=int64),
 array([435, 436, 437, 438,  71,  61, 439, 440, 126, 402, 441, 205, 331],
       dtype=int64),
 array([442, 443, 444, 402, 445, 446, 447,  11, 448, 449, 450, 444,  15,
        451, 452,  76], dtype=int64),
 array([453, 102, 402, 454], dtype=int64),
 array([ 55, 455, 456, 457, 458,  95, 459, 460, 444, 402, 461,  49, 462,
        463, 464, 465], dtype=int64),
 array([466, 172, 467, 468, 469, 470,  41, 126, 402], dtype=int64),
 array([ 19, 402,  19, 471, 186, 472, 473], dtype=int64),
 array([413, 402, 474, 475,  47, 476, 477, 478, 479, 371, 480, 476, 481,
        482, 172, 483, 375], dtype=int64),
 array([ 55, 455, 456, 457, 458, 484,  95, 459, 460, 444, 402, 485, 462,
        463, 464, 465], dtype=int64),
 array([486, 245,   1, 487,   1, 402,  76, 186, 488,   1, 489, 490, 131],
       dtype=int64),
 array([491, 172,  19, 492, 267, 281, 137, 493, 494,  19, 172,  19, 140,
        131,  19, 491, 172,  19, 186, 402, 495, 315, 496, 497, 498, 131,
        131, 131], dtype=int64),
 array([186,  41, 499, 126, 402, 500, 501,  15,  70, 502, 503, 267, 192,
         15, 504, 505, 131, 131], dtype=int64),
 array([100,  74, 506, 507, 508, 509,  73,  80, 510, 402, 131, 131],
       dtype=int64),
 array([511, 512, 513, 514, 515, 516, 517,  41, 127,  46], dtype=int64),
 array([402, 518,   8, 519, 520, 521, 522, 428], dtype=int64),
 array([523, 402, 172, 524, 525,  73,  55, 526, 127, 126, 527, 528, 172,
        529, 530, 531,  76], dtype=int64),
 array([532, 533, 172, 532, 172, 270, 402, 534, 122, 270, 535, 270, 536,
        537, 447, 476, 538, 539], dtype=int64),
 array([466, 540, 172, 262, 402, 284,  15, 541, 542, 543, 544,  11, 545,
         15, 546, 547, 406,  73, 548, 549,  15, 550, 551, 205, 331],
       dtype=int64),
 array([402, 552, 419, 420, 553, 466, 554, 423, 555, 447, 556, 395, 413,
        557, 558,  55, 559, 560, 561, 562, 428], dtype=int64),
 array([270, 402, 534, 122, 270, 537, 447, 476, 538, 539], dtype=int64),
 array([131, 131, 131, 186, 402], dtype=int64),
 array([532, 533, 172, 532, 172, 270, 402, 534, 122, 270, 563, 270, 564,
        565, 213], dtype=int64),
 array([462, 566, 567, 172, 568, 465, 172, 413, 402, 569, 570, 571, 572,
        447], dtype=int64),
 array([573, 574, 575, 576, 577, 578, 402], dtype=int64),
 array([579, 580, 402], dtype=int64),
 array([581, 456, 582,  73,  55, 455,  95,  76, 402, 583, 584, 585, 586,
        587, 458, 588, 447,  76, 589, 590, 591, 590, 592, 590, 593, 594],
       dtype=int64),
 array([227, 402, 595, 260, 131, 196, 433, 596, 597, 598, 599, 600, 260,
        238, 601, 602, 603,  15], dtype=int64),
 array([128, 172, 186, 604, 529, 126, 402, 605, 606, 607,  15, 608, 609,
        610, 611,  15, 612], dtype=int64),
 array([159, 613, 614, 269, 402, 131], dtype=int64),
 array([615, 126, 245, 616, 155,  34,  41, 617, 126, 402, 618, 619, 150,
        617, 620,  15], dtype=int64),
 array([ 15, 621, 215, 622,  90,  41, 623, 402, 624, 625, 626], dtype=int64),
 array([627, 245, 628, 295, 629, 630,  86, 631, 632,   1, 402, 633, 634,
        635, 636], dtype=int64),
 array([637, 638, 102,   1, 639,  76, 640], dtype=int64),
 array([ 19, 130, 598, 620, 641,   1, 642, 643, 644,   1, 130, 196, 645,
         15,  19, 646, 647], dtype=int64),
 array([648, 649, 650, 651, 652, 649, 653, 651, 654, 654, 654, 655, 656,
        657, 391, 658, 659, 205, 331], dtype=int64),
 array([ 19, 140, 660, 661, 662, 663,  15,  19, 664, 665, 666], dtype=int64),
 array([648, 649, 650, 651, 652, 649, 653, 651, 654, 654, 654, 655, 656,
        657, 391, 658, 659, 205, 331], dtype=int64),
 array([ 19, 667, 668, 669, 101,  15,  19, 670, 671], dtype=int64),
 array([672, 673, 674, 140, 675, 637, 676, 677,  30, 162,  97, 180, 638,
        678,  15], dtype=int64),
 array([ 19, 679, 680, 609, 681, 682,  15,  19, 683, 684], dtype=int64),
 array([685, 686, 687, 688, 689, 179, 677,  19, 653,  19], dtype=int64),
 array([ 73, 690, 691, 692, 693, 694, 653, 695,  76], dtype=int64),
 array([653,   1, 696, 697, 698, 699, 115, 700, 701,  15, 702, 703, 702,
        115, 701, 704,  15], dtype=int64),
 array([653], dtype=int64),
 array([648, 649, 650, 651, 652, 649, 653, 651, 654, 654, 654, 655, 656,
        657, 391, 658, 659, 205, 331], dtype=int64),
 array([648, 649, 650, 651, 652, 649, 653, 651, 654, 654, 654, 655, 656,
        657, 391, 658, 659, 205, 331], dtype=int64),
 array([648, 649, 650, 651, 652, 649, 653, 651, 654, 654, 654, 655, 656,
        657, 391, 658, 659, 205, 331], dtype=int64),
 array([ 70, 705, 706, 707, 653, 131, 131], dtype=int64),
 array([648, 649, 650, 651, 652, 649, 653, 651, 654, 654, 654, 655, 656,
        657, 391, 658, 659, 205, 331], dtype=int64),
 array([648, 649, 650, 651, 652, 649, 653, 651, 654, 654, 654, 655, 656,
        657, 391, 658, 659, 205, 331], dtype=int64),
 array([708, 709,  55, 611, 710, 711, 712, 713, 714, 715, 260,  15, 716,
        159, 717, 131, 718], dtype=int64),
 array([653, 172, 719, 706, 720,   1, 275, 721, 722, 723, 665, 724, 725],
       dtype=int64),
 array([726, 159, 267,  41, 727, 698, 699,   1, 728, 729, 140, 730, 731,
        732, 131, 131, 131, 733, 734], dtype=int64),
 array([653, 205, 735, 736, 371, 737, 375, 738, 205, 735, 736, 739,  55,
        740], dtype=int64),
 array([ 46,  46, 741, 481, 653, 172, 719, 706, 720,   1, 275, 721, 722,
         76, 742], dtype=int64),
 array([743, 744, 745, 746, 747, 382, 748, 746, 747, 382, 584,  15,  55,
        749, 750], dtype=int64),
 array([ 19, 751, 752, 753, 159, 393, 754,   1, 755, 167,   1, 756, 269,
        692, 757,  15,  19,  55, 749, 758], dtype=int64),
 array([759, 505, 493, 760, 761, 160, 140, 139, 139, 139, 762, 763, 764],
       dtype=int64),
 array([ 19, 765, 159, 686, 766,   1, 697, 149, 250, 767, 768, 769, 271,
        382, 770,  15,  19, 205, 206, 379, 771], dtype=int64),
 array([772, 773, 653, 607,  15, 260, 774,   1], dtype=int64),
 array([132, 775], dtype=int64),
 array([653], dtype=int64),
 array([653, 557,  42, 776, 186, 424,  15, 777, 504, 550, 778, 757,  15,
         41, 424, 185,  15], dtype=int64),
 array([ 30, 779, 780, 781, 245, 782, 783, 747,  15, 205, 206, 784, 785,
        786], dtype=int64),
 array([ 19, 262, 130, 643, 787, 101, 130, 643, 788,  15,  19, 789, 790],
       dtype=int64),
 array([791, 792, 793, 476, 794, 332, 131, 795, 796, 797, 798, 799,  15,
        800], dtype=int64),
 array([801, 802, 803, 804, 805, 806, 807, 808, 809, 172, 810, 811, 402,
        801,  76, 812], dtype=int64),
 array([813, 814,   1, 815, 227, 805, 402, 172, 816, 817,  41, 818, 819,
        820, 821, 822,  76], dtype=int64),
 array([823, 824, 825, 227, 805, 402, 826, 827,  15], dtype=int64),
 array([801, 802, 803, 804, 805, 806, 807, 808, 809, 172, 810, 811, 402,
        801, 828,  76], dtype=int64),
 array([829, 830, 227, 805, 402, 830, 104, 766,  41, 831, 131, 131, 131,
        832, 833, 139], dtype=int64),
 array([834, 835, 836, 837, 838,  90, 227, 805, 402, 839, 131, 131, 131,
        840, 841, 152, 842], dtype=int64),
 array([130, 843, 805, 844, 402, 172, 845], dtype=int64),
 array([499, 402, 130,  90, 846, 805, 371, 847, 848, 375], dtype=int64),
 array([849, 805, 402, 850, 851, 852, 853, 854, 848, 625, 855, 856, 857,
        858, 851, 859, 860,  15], dtype=int64),
 array([861, 862, 130,  90, 846, 805, 371, 847, 848, 375, 863], dtype=int64),
 array([801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 402, 801,
        864, 205, 331], dtype=int64),
 array([801, 802, 803, 804, 805, 806, 807, 808, 809, 172, 810, 811, 402,
        801, 864, 865, 804,  76], dtype=int64),
 array([866, 867, 868, 172, 869, 870, 834, 835, 625, 227, 871, 402],
       dtype=int64),
 array([872,  35, 873, 874, 402, 504, 505, 805, 875], dtype=int64),
 array([614, 876, 625, 227, 805, 402,   1, 185, 126, 877, 139, 878, 879,
        697,  15], dtype=int64),
 array([801, 802, 803, 804, 805, 806, 807, 808, 809, 172, 810, 811, 402,
        801,  76, 880], dtype=int64),
 array([140, 881, 882,  15, 883, 884, 885, 886, 887, 888, 862, 889, 205,
        331], dtype=int64),
 array([499, 402, 654, 130,  90, 846, 890, 371, 847, 848, 375], dtype=int64),
 array([499, 402, 130,  90, 846, 805, 371, 847, 848, 375], dtype=int64),
 array([891, 837, 892, 834, 225, 805, 127,  15, 893, 402,  15], dtype=int64),
 array([816, 525, 894, 127, 126, 895, 845, 896, 886, 885, 897, 898, 862,
        899], dtype=int64),
 array([813, 814,   1, 815, 227, 805, 402,  55], dtype=int64),
 array([900, 901, 172, 801, 802, 803, 804, 805, 806, 807, 808, 809, 172,
        810, 811, 402, 902,  76], dtype=int64),
 array([801, 802, 803, 804, 805, 806, 807, 808, 809, 172, 810, 811, 402,
        801, 828,  76], dtype=int64),
 array([499, 402, 130,  90, 846, 205, 903, 205, 904, 905, 847, 848,  15,
        906, 598, 205, 907, 908, 909, 205, 206,  76], dtype=int64),
 array([910, 911, 912, 691,  41, 913, 914, 805, 915, 916,  15, 402, 552,
        917, 918, 919, 577,  15, 920, 910], dtype=int64),
 array([921, 499, 402, 130,  90, 846, 805,  15], dtype=int64),
 array([922, 139, 396, 908,  15, 869, 923, 885, 862, 924, 925, 926, 927],
       dtype=int64),
 array([801, 802, 803, 804, 805, 806, 807, 808, 809, 172, 810, 811, 402,
        801, 864, 865, 804,  76], dtype=int64),
 array([615, 805, 402,  15], dtype=int64),
 array([928, 929, 160, 186,  41, 126, 930, 805, 402,  15, 931], dtype=int64),
 array([932,  70, 609, 470,  97, 625,  41, 933,  73, 677, 825, 227, 805,
        402,  15], dtype=int64),
 array([805, 934, 935, 936, 937,  30, 766, 402], dtype=int64),
 array([689,   1, 805, 402], dtype=int64),
 array([713, 938, 939, 805, 402, 131, 940, 941, 452, 942, 943,  15, 944,
        945, 946, 947], dtype=int64),
 array([948, 949, 950, 243, 951, 952, 755, 953, 367, 954, 411, 476,  80,
        955,   1, 956, 957], dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([207, 811, 962, 487, 963, 127, 207, 208, 964,  76,  55, 654, 965,
        205, 331], dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127,  55, 966, 967], dtype=int64),
 array([968,  78, 969, 970, 971, 193, 955, 972], dtype=int64),
 array([791, 973, 974, 584,  77, 227, 975,  15, 969,  41, 976, 222, 977,
         15, 955, 487,  15], dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([955, 978, 979, 980, 444, 981, 982, 983, 984, 654, 985], dtype=int64),
 array([193, 986, 987, 338, 503, 988, 989, 990, 991], dtype=int64),
 array([186, 992, 993, 248, 994, 955,  41, 995, 996, 997, 131, 131],
       dtype=int64),
 array([  73,  267,  998,  999,  955,   73, 1000,  131, 1001, 1002],
       dtype=int64),
 array([ 812,  958,  959,  625,  960,  811,  955,  961,  127, 1003, 1004],
       dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([1005,  227,  955], dtype=int64),
 array([1006,  131,  792,  955,   15, 1007,  186,  832,  139], dtype=int64),
 array([955, 978, 979, 980, 444, 981, 982, 983, 984, 654, 985], dtype=int64),
 array([1008,  811,  955,  961,  127, 1009, 1010], dtype=int64),
 array([1011,  159, 1006,  159,  792, 1012, 1013,  598,  950,  955,  159,
         792,  755], dtype=int64),
 array([1014,  826,  172, 1015, 1016, 1017,  741, 1018, 1019, 1020,  205,
         904, 1021, 1022, 1023,  205, 1024, 1025, 1026, 1027], dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([955, 978, 979, 980, 444, 981, 982, 983, 984, 654, 985], dtype=int64),
 array([955, 978, 979, 980, 444, 981, 982, 983, 984, 654, 985], dtype=int64),
 array([ 219,  129,  243, 1028, 1029,  139,  139, 1030, 1031,  154,  276,
         186,  955,  213, 1032,   15], dtype=int64),
 array([ 159,  250,  149,  955,   86, 1033, 1033], dtype=int64),
 array([1034,  958,  959,  625,  960,  811,  955,  961,  127], dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([140, 227, 955, 584, 222, 398], dtype=int64),
 array([ 205, 1035,  172, 1036, 1037, 1038,  955,  131,  131,  131,  205,
         904,  905], dtype=int64),
 array([  79,   55, 1039, 1014,  955, 1040, 1041, 1042,  205,  331],
       dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([ 958,  959,  625,  960,  811,  955,  961,  127, 1043], dtype=int64),
 array([ 958,  959,  625,  960,  811,  955,  961,  127, 1043], dtype=int64),
 array([ 129,  215,  955, 1044, 1045,  131, 1046,  250,  131], dtype=int64),
 array([ 103, 1047,  627,  780, 1048, 1049, 1050,   82, 1051,  535,  955,
        1052,   15], dtype=int64),
 array([958, 959, 625, 960, 811, 955, 961, 127], dtype=int64),
 array([  30,  167, 1053,  227,  955, 1054,   76, 1055,   15], dtype=int64),
 array([1056, 1057, 1058, 1059,    1, 1060,  152,  700,   15, 1061, 1062,
        1063,   15], dtype=int64),
 array([1064, 1058, 1065, 1066, 1067, 1068, 1069, 1070,   15,  159, 1064,
        1071,  406,   15], dtype=int64),
 array([1072, 1058, 1073,   15, 1074], dtype=int64),
 array([1075,  139, 1076, 1058, 1066, 1077, 1078, 1079,  227, 1080,   15],
       dtype=int64),
 array([1081, 1058, 1082,  500,  585, 1083,  616, 1084, 1085, 1086,  150,
        1087, 1088], dtype=int64),
 array([1058, 1089,   15,  131,  131], dtype=int64),
 array([1058, 1090, 1091, 1092, 1093,   41, 1094,   83, 1095,  172, 1096],
       dtype=int64),
 array([ 702, 1097,  702, 1098,  766,  139,  677,  139, 1099, 1058,  139,
          55, 1100, 1101], dtype=int64),
 array([  41,  832, 1102, 1103, 1104, 1105, 1106,  267, 1058,  159, 1107],
       dtype=int64),
 array([ 933, 1108, 1109, 1110, 1111, 1112, 1113,  126, 1114, 1115,   15,
         845], dtype=int64),
 array([1116, 1058,  139], dtype=int64),
 array([ 933, 1108, 1109, 1110, 1111, 1112, 1113,  126, 1114, 1115,   15,
         845], dtype=int64),
 array([1117,  139, 1118, 1119, 1120, 1058,   41, 1121,  205,  331,  205,
         211, 1122], dtype=int64),
 array([ 362,  517, 1058,  159,  876, 1123,  504], dtype=int64),
 array([ 691,  752, 1124, 1125, 1126,  245, 1058,   15,   76, 1127, 1128,
         411,  476, 1129,   15], dtype=int64),
 array([ 690, 1130, 1006, 1131, 1132, 1133, 1134,  677, 1135,   97, 1058],
       dtype=int64),
 array([1136,  284, 1132, 1058, 1137,   30, 1138, 1139, 1140,  493,    1,
        1141, 1142, 1143, 1144], dtype=int64),
 array([ 147,  826, 1145, 1146,  832, 1147, 1148, 1149, 1150,  267, 1151,
        1152, 1058, 1153,  569,  616], dtype=int64),
 array([   1, 1154, 1155, 1156,    1, 1157, 1158, 1058, 1159,   15],
       dtype=int64),
 array([ 371, 1097,  375,   19, 1098,  766,  139,  677,  139, 1099, 1058,
         139,   19,   55, 1100, 1101,   55], dtype=int64),
 array([1160,  267, 1058,    1, 1161,  639], dtype=int64),
 array([  30,   19, 1058,  154, 1162, 1163,   19,   76,  714, 1164, 1165,
         362, 1166,   76], dtype=int64),
 array([1167, 1168, 1058, 1169, 1170, 1171,  172, 1172], dtype=int64),
 array([1173, 1174, 1175, 1176, 1177,  669,  557,  270, 1178,  600,   15,

In [15]:
y_data_pre = data['target'].values
y_data_pre = torch.from_numpy(y_data_pre)

In [16]:
target_data = torch.zeros(y_data_pre.shape[0], 2, dtype=torch.float32)
target_data[range(len(y_data_pre)),y_data_pre] = 1
target_data

tensor([[0., 1.],
        [0., 1.],
        [0., 1.],
        ...,
        [0., 1.],
        [0., 1.],
        [0., 1.]])

In [17]:
target_data[102]

tensor([1., 0.])

In [18]:
class BatchNorm1D():
    """ This class creates a Batch Normalization layer"""
    def __init__(self, dim, epsilon = 1e-5, momentum = 0.1):
        self.epsilon = epsilon
        self.momentum = momentum
        self.training = True
        # Initializing learnable paramters
        self.gamma = torch.ones(dim)
        self.beta = torch.zeros(dim)

        # Buffers trained with a momentum update
        self.running_mean = torch.zeros(dim)
        self.running_variance = torch.ones(dim)

    def __call__(self, X):
        if X.ndim == 2:
            dim = 0
        if X.ndim == 3:
            dim = (0,1)
        # Calculate the forward pass
        if self.training:
            xmean = X.mean(dim, keepdim=True)
            xvar = X.var(dim,keepdim = True, unbiased = True)
        else:
            xmean = self.running_mean
            xvar = self.running_variance

        xhat = (X-xmean)/ torch.sqrt(xvar+self.epsilon)
        self.out = self.gamma * xhat + self.beta

        # Now update the running mean buffers
        if self.training:
            with torch.no_grad():
                self.running_mean = (1-self.momentum) * self.running_mean + self.momentum * xmean
                self.running_variance = (1-self.momentum)* self.running_variance + self.momentum * xvar
        return self.out

    def parameters(self):
        return [self.gamma, self.beta]

In [19]:
class DisasterModel(nn.Module):
    def __init__(self):
        super().__init__()
        self.embedding = nn.Embedding(len(word_dict), 20)
        self.l1 = nn.Linear(20,128)
        self.bn1 = BatchNorm1D(128)
        # self.tanh1 = nn.Tanh()
        self.l2 = nn.Linear(128,128)
        self.bn2 = BatchNorm1D(128)
        # self.tanh2 = nn.Tanh()
        self.l3 = nn.Linear(128,64)
        self.bn3 = BatchNorm1D(64)
        # self.tanh3 = nn.Tanh()
        self.l4 = nn.Linear(64,2)
    
    def forward(self, xix):
        x = torch.zeros(32,20)
        for i in range(len(xix)):
            # print(xix[i])
            ix_entry = torch.from_numpy(xix[i])
            # print(ix_entry)
            embedding = torch.sum(self.embedding.weight[ix_entry], dim = 0, keepdim = True)
            # print(embedding.shape)
            x[i] = embedding

        # print(x)
        # print(x.shape)
        x = torch.tanh(self.bn1(self.l1(x)))
        x = torch.tanh(self.bn2(self.l2(x)))
        x = torch.tanh(self.bn3(self.l3(x)))
        self.out = self.l4(x)
        return self.out

model = DisasterModel()
model

DisasterModel(
  (embedding): Embedding(16264, 20)
  (l1): Linear(in_features=20, out_features=128, bias=True)
  (l2): Linear(in_features=128, out_features=128, bias=True)
  (l3): Linear(in_features=128, out_features=64, bias=True)
  (l4): Linear(in_features=64, out_features=2, bias=True)
)

In [20]:
parameters = sum([x.nelement() for x in model.parameters()])
parameters

352866

In [21]:
optimizer = torch.optim.Adam(model.parameters(), lr = 0.01)

In [22]:
train_x_data = X_data[:int(0.9*len(X_data))]
test_x_data = X_data[int(0.9*len(X_data)):]
train_y_data = target_data[:int(0.9*len(X_data))]
test_y_data = target_data[int(0.9*len(X_data)):]

In [30]:
epochs = 100
accuracy = 0
for epoch in range(epochs):
    for i in range((len(train_x_data))//32):
        batch_data = train_x_data[i*32:(i+1)*32]
        batch_labels = train_y_data[i*32:(i+1)*32].view(32,-1,)

        # print(batch_labels.shape)
        logits = model(batch_data)
        loss = F.cross_entropy(logits, batch_labels)
        accuracy += (((logits.max(dim = 1).indices == batch_labels.max(dim=1).indices).sum().item())/32)*100
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
         
    if epoch % 10 == 0:
        print(f"loss : {loss.item()} | Accuracy : {accuracy/10*32}")
        accuracy = 0

loss : 0.22240331768989563 | Accuracy : 67670.0
loss : 0.22981202602386475 | Accuracy : 676280.0
loss : 0.23564784228801727 | Accuracy : 675920.0
loss : 0.5286725163459778 | Accuracy : 676440.0
loss : 0.31426844000816345 | Accuracy : 676490.0
loss : 0.24011477828025818 | Accuracy : 676400.0
loss : 0.4281781315803528 | Accuracy : 676470.0
loss : 0.2169116735458374 | Accuracy : 676340.0
loss : 0.3102492094039917 | Accuracy : 676540.0
loss : 0.25614768266677856 | Accuracy : 676600.0

In [24]:
ablaze = model.embedding.weight[wordtoidx['ablaze']]

In [25]:
fire = model.embedding.weight[wordtoidx['fire']]

In [26]:
torch.cdist(ablaze.unsqueeze(0), fire.unsqueeze(0))

tensor([[7.0570]], grad_fn=<CdistBackward0>)

In [27]:
# from torchmetrics.classification import BinaryAccuracy()
accuracy = 0
with torch.no_grad():
    for i in range((len(test_x_data))//32):
        batch_data = test_x_data[i*32:(i+1)*32]
        batch_labels = test_y_data[i*32:(i+1)*32].view(32,-1,)

        # print(batch_labels.shape)
        logits = model(batch_data)
        # logits = torch.exp(logits)
        # print(logits)
        
        loss = F.cross_entropy(logits, batch_labels)
        # optimizer.zero_grad()
        # loss.backward()
        # optimizer.step()
        
        accuracy += ((logits.max(dim = 1).indices == test_y_data[:32].max(dim=1).indices).sum().item()) 
        
        print(loss.item())
    print(f"Accuracy is {(accuracy/736)*100}")

3.588651418685913
3.180645227432251
2.8449416160583496
1.9167383909225464
2.662792682647705
1.1606980562210083
1.6568455696105957
1.6729085445404053
2.4846506118774414
3.7518067359924316
4.688756465911865
3.5694451332092285
2.4716033935546875
3.2828598022460938
3.9243111610412598
2.3103365898132324
2.460498809814453
1.865082859992981
2.574251413345337
4.417128562927246
3.6976840496063232
1.0328078269958496
1.9749455451965332
Accuracy is 47.28260869565217

In [154]:
logits.shape

torch.Size([32, 2])

In [28]:
(logits.max(dim = 1).indices == test_y_data[:32].max(dim=1).indices).sum()

tensor(15)

In [156]:
(23/32)*100

71.875

In [149]:
logits.max(dim=1).indices

tensor([1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
        1, 1, 0, 0, 1, 0, 0, 1])

In [150]:
test_y_data[:32].max(dim=1).indices

tensor([0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0])